
<div class="content" role="main">
  <!-- <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
<br />
<img width="300" (click)="onLogoClicked()" alt="Angular Logo" src="">
    <input type="text" value="test">
    <input type="text" (keyup)="onKeyUp(titleInput.value)"
     [value]="title" #titleInput>
    <input type="text" [value]="'title'">
  </div> -->
<!-- <h2>{{getVal()}}</h2>
<h3></h3>
  <app-course-card></app-course-card> -->
  <!-- <h1>Hello world</h1>
  <app-header></app-header>
  <app-user-list></app-user-list>
  <app-sign-in></app-sign-in>
  <button (click)="getName('amit')">click me </button>

  <br /><br />
  <input type="text" #box1 placeholder="keyup" (keyup)="getData(box1.value)"/>
  <br /><br />
  <input type="text" #box2 placeholder="keydown" (keydown)="getData(box2.value)"/>
  <br /><br />
  <input type="text" #box3 placeholder="blur" (blur)="getData(box3.value)"/>
  <br /><br />
  <input type="text" #box4 placeholder="input" (input)="getData(box4.value)"/>
  <br /><br />
  <h1 (mouseover)="getData('send from mouseover')">Code by Amit</h1>
  <br /><br />
  <h1 (mouseleave)="getData('send from mouseleave')">Code by amit kumar</h1>

  <br /><br />
  <input type="text" #box5 placeholder="Enter Name" (keyup)="getVal(box5.value)" name="username"/>

 <p>Box value is: {{displayVal}}</p> -->
<h1>{{title}}</h1>
 <br /><br />
<h1 *ngIf="show; then ifBlock else elseBlock">
  code step by step
</h1>
<br /><br />
<ng-template #ifBlock>
  <h1>If condition</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else condition</h1>
</ng-template>


</div>


<router-outlet></router-outlet>
